<html>
    <head>
        <title> Party Mode ~ Bergflix </title>
        <link href="style.css" rel="stylesheet">
        <meta name="author" content="Johannes Maxwell Dietze">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="app.js"></script>
     </head>
    <body>

        <div class="container">
            <div class="login-room">
                <h2 id="login-room-header-2"> Willkommen beim </h2>
                <h3 id="login-room-header-3"> Bergflix Partymodus. </h3>
                <div class="login-room-create">
                    <h2 id="login-room-header-2"> Party erstellen </h2>
                </div>
            </div>
        </div>
    </body>
