@import "fonts/fonts.css";
#logo {
    width: 175;
    height: 45;
}

.login-room {
    background-image: url("https://share.bergflix.de/imgs/captain_pineapple.png");
}

body {
    overflow:hidden;
    background-color: black;
    font-family: "Gellix Bold", sans-serif;
    color: white;
}

#login-room-header-2 {
    position: absolute;
    top: 38%;
    right: 44%;
}

#login-room-header-3 {
    position: absolute;
    font-size: 30pt;
    top: 44%;
    right: 38.5%;
}

.login-room-create #login-room-header-2 {
    position: absolute;
    top: 62%;
    right: 45%;   
}



.partyChat {
    position: absolute;
    top: 0.5%;
    right: 0.5%;
}

.chatArea {
    height: 800;
    overflow: hidden;
    width: 320;
    overflow: auto;
}

#partyheader {
    font-size: 25;
}

#partyname {
    position: absolute;
    top: 0.5%;
    left: 11%;
}

#newMessage {
    width: 200;
    position: fixed;
    right: 3%;
    bottom: 7%;
    color: white;
    background: #1C1C1C;
    border: none;
    padding: .5rem;
}


#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }